<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <!-- Conexión a BD Comercializadora -->
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ComercializadoraDB"
         connectionString="Data Source=Laptop-EDGM\SQLEXPRESS;Initial Catalog=comercializadora_db;User ID=sa;Password=root;Persist Security Info=True;Encrypt=True;TrustServerCertificate=True;MultipleActiveResultSets=True;Pooling=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <!-- URL del servicio SOAP del banco -->
    <add key="BanQuitoServiceURL" value="http://localhost:58001/ec.edu.monster.ws/BanQuitoWS.svc" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBanQuitoWS" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:58001/ec.edu.monster.ws/BanQuitoWS.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBanQuitoWS"
        contract="BanQuitoServiceReference.IBanQuitoWS" name="BasicHttpBinding_IBanQuitoWS" />
    </client>
    <behaviors>
        <serviceBehaviors>
            <behavior name="ServiceBehavior">
                <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                <serviceDebug includeExceptionDetailInFaults="true" />
            </behavior>
        </serviceBehaviors>
    </behaviors>
      
    <services>
      <service name="Comercializadora_Soap_Dotnet.ec.edu.monster.ws.ComercializadoraWS"
               behaviorConfiguration="ServiceBehavior">
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="Comercializadora_Soap_Dotnet.ec.edu.monster.ws.IComercializadoraWS" />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
      
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="false"/>
    <defaultDocument>
      <files>
        <clear />
        <add value="ec.edu.monster.ws/ComercializadoraWS.svc" />
      </files>
    </defaultDocument>
  </system.webServer>

</configuration>
