<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
  <!-- Conexion a la BD del BANCO BANQUITO -->
  <connectionStrings>
    <add name="BanQuitoDB"
         connectionString="Data Source=DENIL;Initial Catalog=banquito_core;User ID=sa;Password=controlcenter;Persist Security Info=True;Encrypt=True;TrustServerCertificate=True;MultipleActiveResultSets=True;Pooling=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>	

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
	  
  	<services>
      <service name="BanQuito_Soap_Dotnet.ec.edu.monster.ws.BanQuitoWS" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" 
                  binding="basicHttpBinding" 
                  contract="BanQuito_Soap_Dotnet.ec.edu.monster.ws.IBanQuitoWS" />
        <endpoint address="mex" 
                  binding="mexHttpBinding" 
                  contract="IMetadataExchange" />
      </service>
    </services>
	  
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="false"/>
    <defaultDocument>
      <files>
        <clear />
        <add value="ec.edu.monster.ws/BanQuitoWS.svc" />
      </files>
    </defaultDocument>
  </system.webServer>

</configuration>
